body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1e1e1e;
    color: white;
    margin: 0;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffd700;
    text-shadow: 2px 2px 8px #000;
}

#mining-area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Стили для счетчика TPC в секунду */
.crypto-counter {
    background-color: #1e1e1e;
    border: 2px solid #00ff00;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #00ff00;
    text-align: center;
    margin: 20px auto;
    width: fit-content;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    transition: all 0.3s ease;
}

.crypto-counter:hover {
    background-color: #2e2e2e;
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.7);
}

/* Эффект неоновой анимации */
@keyframes neon {
    0%, 100% {
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.5), 0 0 40px rgba(0, 255, 0, 0.3), 0 0 60px rgba(0, 255, 0, 0.1);
    }
    50% {
        box-shadow: 0 0 30px rgba(0, 255, 0, 0.7), 0 0 60px rgba(0, 255, 0, 0.5), 0 0 90px rgba(0, 255, 0, 0.3);
    }
}

.crypto-counter {
    animation: neon 1.5s infinite alternate;
}
#shop-button, #airdrop-button, #earn-button {
    font-size: 1.5rem;
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background 0.3s, transform 0.1s;
    margin-top: 20px;
}

.success-message {
    position: fixed;
    top: 50%; /* Положение сверху по центру */
    left: 50%; /* Положение слева по центру */
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%); /* Центрируем относительно центра экрана */
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: 1000;
    padding: 1000px 2000px;
    border-radius: 5px;
    z-index: 9999;
    opacity: 0;
    backdrop-filter: blur(5px); /* Добавляем размытие заднего фона */
    animation: fadeInOut 3s forwards;
}
.error-message {
    position: fixed;
    top: 50%; /* Положение сверху по центру */
    left: 50%; /* Положение слева по центру */
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%); /* Центрируем относительно центра экрана */
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: 1000;
    padding: 1000px 2000px;
    border-radius: 5px;
    z-index: 9999;
    opacity: 0;
    backdrop-filter: blur(5px); /* Добавляем размытие заднего фона */
    animation: fadeInOut 3s forwards;
}

/* Стили для счетчика TPC в секунду */
.crypto-counter {
    background-color: #1e1e1e;
    border: 2px solid #00ff00;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #00ff00;
    text-align: center;
    margin: 20px auto;
    width: fit-content;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    transition: all 0.3s ease;
}

.crypto-counter:hover {
    background-color: #2e2e2e;
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.7);
}

/* Эффект неоновой анимации */
@keyframes neon {
    0%, 100% {
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.5), 0 0 40px rgba(0, 255, 0, 0.3), 0 0 60px rgba(0, 255, 0, 0.1);
    }
    50% {
        box-shadow: 0 0 30px rgba(0, 255, 0, 0.7), 0 0 60px rgba(0, 255, 0, 0.5), 0 0 90px rgba(0, 255, 0, 0.3);
    }
}

.crypto-counter {
    animation: neon 1.5s infinite alternate;
}
#mine-button {
    background: transparent; /* Убираем фон кнопки */
    border: none; /* Убираем границу */
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Убирает синее подсвечивание при нажатии */
    -webkit-tap-highlight-color: transparent; /* Для браузеров, не поддерживающих первый вариант */
    touch-action: manipulation; /* Убирает задержку при нажатии */
    font-size: 0rem;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 0px;
    transition: background 0.3s, transform 0.1s;
}

#mine-button img {
    width: 300px; /* Задаем размер изображения */
    height: auto; /* Автоматическая высота */
}

#mine-button:active {
    transform: scale(0.95);
}

#shop-button, #airdrop-button, #earn-button {
    font-weight: bold;
    background-image: linear-gradient(to right, #3f422e, #be9090);
    color: #fff;
}

#shop-button:active, #airdrop-button:active, #earn-button:active {
    transform: scale(0.95);
}

#shop-button:hover, #airdrop-button:hover, #earn-button:hover {
    background-image: linear-gradient(to right, #be9090, #3f422e);
    transform: scale(0.95);
}

#TPC {
    font-size: 3rem;
    margin-top: 20px;
    background: #333;
    padding: 10px 20px;
    border-radius: 10px;
    min-width: 80px;
    font-family: fantasy;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.coin-effect {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('wolf-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: fly 1s ease-out forwards, spin 1s linear;
    pointer-events: none; /* Disable pointer events to not interfere with clicks */
}

@keyframes fly {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-150px);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}


.shop-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.item {
    background-color: #2c2c2c;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px); /* Ширина элементов в 3 столбца */
    max-width: 300px; /* Максимальная ширина элемента */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.tasks-item {
    background-color: #2c2c2c;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    align-items: center;
    width: 250px; /* Ширина элементов в 3 столбца */
    max-width: 300px; /* Максимальная ширина элемента */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.item-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.item-cost {
    font-size: 0.9rem;
    color: #ffd700;
}

.buy-button {
    margin-top: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background: #4caf50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.1s;
}

.buy-button:hover {
    background: #45a049;
}

.buy-button:active {
    transform: scale(0.95);
}

#tasks {
    margin-top: 20px;
    text-align: left;
}

.task {
    margin-bottom: 20px;
}

.task-description {
    font-size: 1rem;
    margin-bottom: 5px;
}

.task-progress {
    width: 100%;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    position: relative;
}

.task-progress-inner {
    height: 100%;
    border-radius: 10px;
    background-color: #4caf50;
    transition: width 0.3s ease;
    /* Добавим градиент для более интересного визуального эффекта */
    background-image: linear-gradient(to right, #4caf50, #164b19);
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5); /* Добавим тень */
}



/* Добавленные стили для полноэкранной панели */

.fullscreen-panel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Устанавливаем высокий z-index */
    backdrop-filter: blur(5px); /* Добавляем размытие заднего фона */
}



.close-btn {
    position: center;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-family: monospace;
    font-weight: 1000;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.fullscreen-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    80% { opacity: 1; }
    90% { opacity: 0;}
    100% { z-index: 1;}
}

@keyframes butonim {
    0% { background-image: linear-gradient(to right, #3f422e); }
    50% { background-image: linear-gradient(to right, #3f422e, #be9090, #3f422e); }
    100% { background-image: linear-gradient(to right, #3f422e); } 
}
