/* styles.css */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333333;
}

.container {
    margin-top: 50px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 50%; /* Ширина контейнера в процентах */
    margin-left: 5%; /* Расположение контейнера слева */
}

#clicker-button {
    font-size: 16px; /* Уменьшим размер кнопки для мобильных устройств */
    padding: 8px 16px; /* Уменьшим отступы кнопки для мобильных устройств */
    cursor: pointer;
    background-color: #0088cc;
    color: white;
    border: none;
    border-radius: 5px;
    transition: transform 0.1s ease, background-color 0.1s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#clicker-button:hover {
    background-color: #007ab8;
}

#clicker-button:active {
    transform: scale(0.95);
    background-color: #006ba1;
}

#click-count {
    font-weight: bold;
    font-size: 20px; /* Уменьшим размер текста для мобильных устройств */
    margin-top: 20px;
}

h1 {
    color: #0088cc;
    margin-top: 0;
    font-size: 24px; /* Уменьшим размер заголовка для мобильных устройств */
}
